[webserver]
port = {{ plight_port }}
host = {{ plight_host }}
user = {{ plight_user }}
group = {{ plight_group }}
logfile = {{ plight_accesslogfile }}
loglevel = {{ plight_loglevel }}
filesize = {{ plight_logfilesize }}
rotationcount = {{ plight_logrotationcount }}

[logging]
logfile = {{ plight_logfile }}
loglevel = {{ plight_loglevel }}
filesize = {{ plight_logfilesize }}
rotationcount = {{ plight_logrotationcount }}

[permanents]
statefile = {{ plight_statefile }}
